.nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 100%;
    height: 4rem;
    font-family: "Lora";
}

.nav ul {
    padding: 0;
    padding-right: 30px;
    margin:0;
    display: flex;
    gap: 1rem;
    list-style: none;
    font-weight: bolder;
}

.nav li {
    text-decoration: none;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

.menu a:hover {
    color: rgb(96, 96, 96);
    text-decoration: none;
    font-weight: bolder;
}

.submenu {
   display: none;
   visibility: hidden;
   display: flex;
   flex-direction: column;
   position: absolute;
}

.nav li:hover > .submenu {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    padding-top: 1.5em;
    text-decoration: none;
    display: flex;
    visibility: inherit;
    flex-direction: column;
    background-color: none;
    transition: 0.1s ease-in-out;
    font-weight: bolder;
    width: 100%;
}

.nav li:hover > .submenu a {
    padding: 1em 1em 0em 0em;
}

.home {
    margin-left: 0.3rem;
}

.leftSide {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    list-style: none;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo:hover {
    cursor: pointer;
}


@media (max-width: 768px) {
    .hamburger {
        width: 2em;
        height: 1.7em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      align-items: center;
      top: 4em;
      padding: 5em;
      border-radius: 0px;
    }

    .menu.close {
        display: none;
    }
    
    .menu.open {
        width: 100%;
        display: visible;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menu.open2 {
        width: 100%;
        display: visible;
    }

    .menu.open2 a {
        color: rgba(0, 0, 0, 1);
    }

    .menu.open ul {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .menu.open2 ul {
        background-color: rgba(255, 255, 255, 0);
    }
  
    .hamburger {
      display: flex;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease;
    }

    .nav li:hover > .submenu {
        display: none;
        visibility: hidden;
        z-index: -1;
    }

    .nav2 li:hover > .submenu {
        display: none;
        visibility: hidden;
        z-index: -1;
    }
}

.nav2 ul {
    padding: 0;
    padding-right: 30px;
    margin:0;
    display: flex;
    gap: 1rem;
    list-style: none;
    font-weight: bolder;
}

.nav2 li {
    text-decoration: none;
}

.nav2 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    width: 100%;
    height: 4rem;
    font-family: "Lora";
}

.nav2 li:hover > .submenu {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    padding-top: 1.5em;
    text-decoration: none;
    display: flex;
    visibility: inherit;
    flex-direction: column;
    background-color: none;
    transition: 0.1s ease-in-out;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
    width: 7rem;
}

.nav2 li:hover > .submenu a {
    padding: 1em 1em 0em 0em;
}